<div class="banner d-flex flex-column justify-content-end align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://media.giphy.com/media/2A2EJSBI1PXxFGRcv2/giphy.gif');">
  <h1>Chiangmai Hug Elephant</h1>
  <h3>Popular Tours</h3>
  <a href="#tours"><i class="fas fa-chevron-down"></i></a>
</div>

<div class="card-containe" id="tours">
  <div class="all-cards">
    <div class="row p-4">
      <% @tours.each do |tour| %>
        <%= link_to tour_path(tour), class: "tour-link col-md-3", :action => 'go' do %>
            <div class="tour-card">
              <%if tour.photo.present?%>
                <%= cl_image_tag tour.photo, crop: :fill %>
              <%end%>
            <div class="tour-info">
              <h5 class="mb-0"><%= tour.name %></h5>
              <p><%= tour.details.first(120) %>...</p>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
